<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,
        initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-3">
      <br />
      <h1>Login</h1>
      <br />
      <form action="/authentication" method="post">
        <div class="form-row">
          <div clas="form-group">
            <label for="Email" style="font-size: 23px"> Email</label>
            <input type="text" class="form-control" id="email" name="email" />
            <small
              id="email_check"
              name="email_check"
              class="form-text text-muted invalid-feedback"
              value="Please Enter valid Email"
            >
              Please Enter Valid Email
            </small>
          </div>
          <br />
          <div class="form-group">
            <label for="password" style="font-size: 23px"> password </label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
            <small
              id="password_check"
              name="password_check"
              class="form-text text-muted invalid-feedback"
              value="Please Enter valid Password"
            >
              please Enter Valid Password
            </small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>
